.area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}

.brand {
  width: 216px;
  height: 42px;
  object-fit: contain;
}

.area ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.area a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 18px;
  color: #000;
  display: inline-block;
  padding: 16px;
}

.language {
  border: 1px solid #00000025;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 90px;
}

.language span {
  font-family: "Inter";
  font-size: 18px;
  color: #000;
}

@media screen and (max-width: 900px) {
  .area nav {
    display: none;
  }
}
